html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* 
<========== HEADER ===========> 
*/

header {
  height: 100px;
  padding-bottom: 10px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../assets/images/mountains.png');
  background-size: cover;
  
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* Equal width for each column */
  align-items: center;
  text-align: center;
  padding: 10px;
  /* Additional styling as needed */
}

.header-left img {
  max-width: 100%;
  /* Ensures the image is responsive */
  height: auto;
  /* Maintains aspect ratio */
  border-radius: 20px;
}

.header-center h1 {
  margin: 0;
  /* Additional styling for the title */
}


/* 
<========== NAVBAR ===========> 
*/

header,
nav#navbar {
  background-color: black;
  color: white;
  /* Change the text color to white for better contrast */
  /* Add more properties as needed */
}

nav#navbar {
  background-color: black;
  color: white;
  padding: 20px 0;
  height: 15px;
  position: relative;
}

/* Add this rule to remove default margin on ul */
nav#navbar ul {
  margin: 0;
}

/* Center the list items horizontally */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* Center items horizontally */
}

.nav-list li {
  margin-right: 20px;
  /* Space between items */
}

.nav-list li:last-child {
  margin-right: 0;
  /* Removes margin from the last item */
}

.nav-list a {
  text-decoration: none;
  color: inherit;
}

/* 
== STICKY NAV ==
 */

/* Add styles for the sticky class */
.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

#navbar-container {
  position: relative;
  height: 40px;
  /* Set the container height */
  background-color: black;
  /* Set the container background color */
  z-index: 1000;
}

#navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  /* Your other navbar styles here */
}

/* Add styles for the sticky class */
#navbar.sticky {
  position: fixed;
  /* Your sticky navbar styles here */
}





/* 
<========== MAIN ==========> 
*/

main {
  background-image: url('../assets/images/srs-bg3.png');
  background-color: black;
  background-size: cover;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: auto;
  /* Change min-height to auto */
}
/* 
<========= SECTION CONTENT ===========>
*/

.section-content {
  background-color: rgb(238, 236, 236);
  max-width: 100%;
  opacity: 93%;
  /* Remove or adjust the min-width property */
  min-height: 400px;
  margin: 15px auto;
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 10px;
  flex-direction: row;
  /* Add this line to display image and text side by side */
  overflow-x: auto;
  /* Enable horizontal scrolling if content overflows */
}

.section-content .image-content {
  flex: 1;
  max-width: 60%;
  max-height: 400px;
  /* Set a maximum height for the image */
  overflow: hidden;
  /* Hide overflow if the image exceeds max height */
  padding: 20px;
  box-sizing: border-box;
}

.section-content .text-content {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
  /* Enable horizontal scrolling for text content */
}


.section-content .text-content-header {
  align-items: center;
}

.section-content .text-content-header h2 {
  align-self: flex-end;
}

.section-content-container {
  padding:20px;
  display: flex;
  flex-direction: row;
  /* Add your desired padding here */
}

.section-content h2 {
  color: black;
  font-size: 20px;
  /* Adjust font size */
  margin-bottom: 10px;
  flex: 1;
  align-self: center;
  /* Expand to fill available space */
}

.section-content p {
  font-size: 16px;
  /* Adjust font size */
  color: black;
  margin: 10px 0;
  flex: 2;
  /* Expand to fill available space */
}

.section-content hr {
  background-color: black;
  height: 2px;
  border: none;

}

/* Remove the margin from all .section-content elements */
.grid-section .section-content {
  margin-top: 0;
}

/* Add padding to the .grid-section to offset the margin on the first child */
.grid-section {
  padding-top: 30px;
}

/* Add margin back to the first .section-content element */
.grid-section .section-content:first-child {

  margin-top: 60px;
}

/* Add margin back to all .section-content elements except the first child */
.grid-section .section-content:not(:first-child) {
  margin-top: 20px;
  padding-top: 20px;
}
/* Add this style for alternating layout */
.grid-section.alt-layout .section-content {
  flex-direction: row-reverse;
}

/* Add this style to ensure alternating margins */
.grid-section:nth-child(even) .section-content {
  margin-left: 15vw;
  margin-right: 5vw;
}

.grid-section:nth-child(odd) .section-content {
  margin-right: 15vw;
  margin-left: 5vw;
}

.text-content,
.image-content {
  color: white;
}

.phone {
  font-size: x-large;
}

/* 
<========== SERVICES/TABLE ==========>
*/

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  min-width: 25%;
  /* Center items horizontally */
  text-align: center;
  /* Center text content */
}

.ase-img {
  max-width: 100%;
  margin-bottom: 20px;
  /* Add space between the image and table */
  box-sizing: border-box;
  overflow: hidden;
  /* Add this to hide overflowing content */
}

.services-table {
  max-width: 100%;
  /* Make the table full width */
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
  /* Center table content */
  width: auto;
  /* Remove explicit width */
  margin: 0 auto;
  /* Center the table horizontally */
}

.services-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.services-table tr:nth-child(even) {
  background-color: #f2f2f2;
}