html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* 
<========== HEADER ===========> 
*/

header {
  height: 100px;
  /* Adjust the height as needed */
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* Equal width for each column */
  align-items: center;
  text-align: center;
  padding: 10px;
  /* Additional styling as needed */
}

.header-left img {
  max-width: 100%;
  /* Ensures the image is responsive */
  height: auto;
  /* Maintains aspect ratio */
  border-radius: 20px;
}

.header-center h1 {
  margin: 0;
  /* Additional styling for the title */
}

.header-right span {
  display: block;
  /* Makes span behave like a block element */
  /* Additional styling for the address */
}

/* 
<========== NAVBAR ===========> 
*/

header,
nav#navbar {
  background-color: black;
  color: white;
  /* Change the text color to white for better contrast */
  /* Add more properties as needed */
}

nav#navbar {
  background-color: black;
  color: white;
  /* Change the text color to white for better contrast */
  padding: 20px 0;
  /* Add vertical padding to increase navbar height */
  /* Add more properties as needed */
  height: 20px;
}

/* Center the list items horizontally */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* Center items horizontally */
}

.nav-list li {
  margin-right: 20px;
  /* Space between items */
}

.nav-list li:last-child {
  margin-right: 0;
  /* Removes margin from the last item */
}

.nav-list a {
  text-decoration: none;
  color: inherit;
}

/* 
== STICKY NAV ==
 */

/* Add styles for the sticky class */
.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

#navbar-container {
  position: relative;
  height: 40px;
  /* Set the container height */
  background-color: black;
  /* Set the container background color */
  z-index: 1000;
}

#navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  /* Your other navbar styles here */
}

/* Add styles for the sticky class */
#navbar.sticky {
  position: fixed;
  /* Your sticky navbar styles here */
}





/* 
<========== MAIN ==========> 
*/

main {
  background-image: url('../assets/images/srs-bg3.png');
  background-color: black;
  background-size: cover;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: auto;
  /* Change min-height to auto */
}
/* 
<========= SECTION CONTENT ===========>
*/

.section-content {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 100%;
  /* Set a maximum width for the section content */
  min-height: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  flex-direction: row;
  /* Add this line to display image and text side by side */
  overflow-x: auto;
  /* Enable horizontal scrolling if content overflows */
}

.section-content .image-content {
  flex: 1;
  max-width: 50%;
  max-height: 400px;
  /* Set a maximum height for the image */
  overflow: hidden;
  /* Hide overflow if the image exceeds max height */
  padding: 20px;
  box-sizing: border-box;
}

.section-content .text-content {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  /* Enable overflow scrolling for text content */
}
.section-content-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  /* Add your desired padding here */
}

.section-content h2 {
  text-decoration: underline;
  color: #333;
  font-size: 20px;
  /* Adjust font size */
  margin-bottom: 10px;
  flex: 1;
  /* Expand to fill available space */
}

.section-content p {
  font-size: 16px;
  /* Adjust font size */
  color: #555;
  margin: 10px 0;
  flex: 2;
  /* Expand to fill available space */
}


/* Add this style for alternating layout */
.grid-section.alt-layout .section-content {
  flex-direction: row-reverse;
}

/* Add this style to ensure alternating margins */
.grid-section:nth-child(even) .section-content {
  margin-left: 15vw;
  margin-right: 5vw;
}

.grid-section:nth-child(odd) .section-content {
  margin-right: 15vw;
  margin-left: 5vw;
}

.text-content,
.image-content {
  color: white;
}

.phone {
  font-size: x-large;
}